* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 25px;
}

.menu__list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}


.user-nav {
    margin-left: 52px;
    margin-right: 13px;
}

.user-nav__link {
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
}

.user-nav__link + .user-nav__link {
    margin-left: 14px;
    background-color: transparent;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

