* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.title {
    color: #2F281E;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item + .menu__list-item {
    margin-left: 25px;
}

.menu__list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 400;
}


.user-nav {
    margin-left: 52px;
    margin-right: 13px;
}

.user-nav__link {
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
}

.user-nav__link + .user-nav__link {
    margin-left: 14px;
    background-color: transparent;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.top__inner {
    padding: 133px 0 80px;
    background-image: url('../images/top-mage.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.top__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
}

.top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 460px;
}

.top__btn {
    display: inline-block;
    color: #FFFFFF;
    background-color: #ff7700;
    border-radius: 4px;
    padding: 15px 41px 14px;
    margin-right: 30px;
    border: none;
}

.top__link {
    line-height: 24px;
    display: inline-block;
    font-weight: 600;
    color: #ff9900;
    padding-left: 25px;
    position: relative;
}

.top__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 19px;
    background-image: url('../images/video-icon.svg');
}

.tools {
    padding-top: 110px;

}

.tools__title {
    text-align: center;
    max-width: 539px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin: 0 auto 46px;
    padding: 0 10px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0;
    margin-bottom: 60px;

}

.tools__item {
    width: 240px;
}

.tools__item-img {
    margin-bottom: 30px;
}

.tools__item-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 13px;
}

.tools__link {
    background-color: #FF9900;
    display: block;
    padding: 15px 32px 14px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    width: 173px;
    margin: 0 auto;
}

.design {
    margin-top: 120px;
}

.design__inner {
    max-width: 486px;
}

.design__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top: 18px;
}

.design__title-text {
    margin-top: 20px;
}

.design__items {
    margin-top: 30px;
}

.design__item {
    list-style: none;
}

.design__item + .design__item {
    margin-top: 28px;
}

.design__item-title {
    font-weight: 700;

}

.design__item-text {
    margin-top: 20px;
}

.design__wrapper {
    margin: 80px 0 80px;
    background-image: url('../images/design-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
